<section>
  <h1 class="mt-2 text-center">Recipes</h1>
  <hr>
  <%= link_to 'Create new recipe', new_recipe_path, 
  class: 'btn btn-primary float-end mb-4' %>
  <div class="container mt-5" style="clear:both;">
    <%= render @recipes %>
    <p>&nbsp;</p>
  </div>
</section>
