<nav>
  <div class= "menu-tittle">
    <h1>Recipe App</h1>
  </div>
  <div class= "select-menu">
    <ul>
      <li>Food List</li>
      <li>Recipe List</li>
      <li>Shopping List</li>
      <li>Public Recipe List</li>
      <li>About Page</li>
    </ul>
  </div>
</nav>