<section>
  <h1 class="mt-2 text-center">Welcome to our Recipe App</h1>
  <hr>
  <div class="container mt-5" style="clear:both;">
    <p class="app-description">The Recipe app keeps track of all your recipes, ingredients, and
      inventory. It will allow you to save ingredients, keep track of what you
      have, create recipes, and generate a shopping list based on what you have
      and what you are missing from a recipe. Also, since sharing recipes is an
      important part of cooking the app should allow you to make them public so
      anyone can access them.
    </p>

    <h3>Authors</h3>
    <ul>
      <li><a
          href="https://www.linkedin.com/in/roberto-a-ba%C3%B1os-alvarez-500766234"
          class="author"
        >Roberto A. Baños</a></li>
      <li><a href="https://www.linkedin.com/in/rafael-eduardo-guzman/" class="author">Rafael E. Guzmán</a></li>
    </ul>
  </div>
</section>
