<section>
  <h1 class='text-center mb-4'>Public Recipes</h1>
  <hr>
  <div class="container mt-5" style="clear:both;">
    <% unless @recipes.empty? %>
      <%= render partial: "public", collection: @recipes %>
      <p>&nbsp;</p>
    <% else %>
      <%= render html: '<p /><h1>There are no items in the shopping list</h1>'.html_safe %>
    <% end %>
  </div>
</section>
