/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,500&display=swap');

*,
*::before,
*::after {
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 1em 10%;
}

.field {
  padding: 4px 0;
}

.author {
  text-decoration: none;
  color: black;
}

.actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: 8px 0;
  width: 100%;
}

.flash {
  position: fixed;
  bottom: 4em;
  right: 4em;
  animation: appear-then-fade 3s both;
}

@keyframes appear-then-fade {
  0%,
  100% {
    opacity: 0;
  }

  5%,
  60% {
    opacity: 1;
  }
}

@media (max-width: 990px) {
  body {
    min-width: 350px;
    padding: 1em 1px;
  }
}
