.show-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  gap: 1.2em;
}

.show-recipe-container{
  display: flex;
  flex-direction: column;
  width: 60%;
  gap: 1em;
  padding-top: 2em;
}

.show-recipe-container > h2 {
  text-align: center;
}

.public-status {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.show-btns {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.btn {
  text-decoration: none;
  color: black;
  border: solid 1px black;
  padding: 10px;
}


.tg {
    border-collapse:collapse;
    border-spacing:0;
  }

.tg td {
  border-color:black;
  border-style:solid;
  border-width:1px;
  overflow:hidden;
  padding:10px 5px;
  word-break:normal;
  padding: 30px;
}

.tg th{
  border-color:black;
  border-style:solid;
  border-width:1px;
  overflow:hidden;
  padding:10px 5px;
  word-break:normal;
  padding: 20px;
}

.tg .tg-0lax{
  text-align:center;
  vertical-align:top;
}